.aside-right-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--grey-200);
}

.suggestion-container {
    width: 20vw;
    margin: 1rem;
    height: 30vh;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);

}

.online-container{
    width: 20vw;
    margin: 1rem;
    height: 50vh;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}