@import 'main';

.aside-right-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    right: 0;
    padding-top: 6rem;

    @include tablet {
        margin-top: 1rem;
        display: none;
        position: relative;
        height: auto;
        padding-top: 0;
    }
}

.button-add-remove  {
    @include flexJs ;
    flex-wrap: wrap;
}

.suggestion-container,
.online-container {
    margin: 1rem 0.3rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color:  var(--white);
    padding: 1rem;

    @include tablet {
        min-width: 50vw;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

.friend-suggestion,
.online-friends {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    min-width: 18vw;
    @include tablet {
        min-width: 50vw;
    }
}

.aside-right-image {
    img {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.friend-container{

    .online-friends{
        position: relative;
        svg {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
}