@import "main";

.modal-content-edit-profile {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-svg {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    h2 {
        padding-top: 25rem;
        margin-bottom: 1rem;
        margin-top: 10px;
        font-size: 1.3rem;
    }

    h3 {
        text-align: start;
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    p {
        text-align: end;
        font-size: 1.1rem;
    }
    .profile-edit-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .edit-profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        color: var(--black);
        margin-bottom: 10px;
    }

    .photo-modal {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .upload-photo {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-container{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .input-feed {
            width: 45vw;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .additional-info-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .save-button{
        margin-bottom: 2rem;
        margin-top: 2rem;
         
    }

}

.profile-picture-modal>img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    @include tablet {
        width: 10rem;
        height: 10rem;
    }
}

.cover-photo-modal>img {
    // display: none;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 7px;
    object-fit: fill;

    @include tablet {
        width: 10rem;
        height: 10rem;
    }
}

.save-button {
    @extend .add-btn;
    width: 5rem;
    height: 2rem;
    margin-top: 0rem;
}