.feed-container {
    width: 40vw;
    height: 50vh;
    margin-top: 1.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.profile-feed-details{
    background-color: red;
}