.footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--grey-800);
    padding: 25px;
  
    
    .footer-row-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .email-link {
      text-decoration: none;
      color: var(--grey-800);
    }
  
   
    .footer-row-2 {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
  
     
      .footer-column {
        // flex: 1;
        padding: 10px;
        margin-left: 4rem;
        margin-right: 4rem;
  
        
        .footer-subrow {
          display: flex;
          flex-direction: column;
  
          div {
            margin-bottom: 5px;
         
            &.footer-title {
              font-weight: bold;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }

  .footer-subrow .name-spacing {
    margin-top: 8px;
  }