@import "main";

.footer {
  margin-top: 10rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: $white;
  color: $grey-800;
  padding: 25px;

  @include tablet {
    display: none;
  }

  .footer-row-1 {
    @include flexJcAc;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .footer-row-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: .8rem;

    .footer-column {
      padding: 10px;
      margin-left: 1rem;
      margin-right: 1rem;

      .footer-subrow {
        display: flex;
        flex-direction: column;

        div {
          margin-bottom: 5px;

          &.footer-title {
            font-weight: bold;
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  .footer-subrow .name-spacing {
    margin-top: 8px;
  }

  a,
  .klane,
  .email-link,
  .footer-column > div:not(.footer-subrow) {
    color: $grey-800;
    list-style: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-600;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary-600;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .footer-column > div:not(.footer-subrow) > a {
    color: $primary-600;
  }
}
