@import "main";

.friends-page-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    h1{
        flex-basis: 100%;
        margin-left: 1rem;
    }

    .friend-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        width: 90vw;

        .online-friends{
            display: flex;
            justify-content: start;
            align-items: center;
            overflow-x: hidden;
            width: 18vw;
            padding: 1rem;
            margin: 1rem;
            background-color: var(--white);
            box-shadow: $shadow-4;
        }
    }

}