// @mixin mobile {
//     @media (max-width: 480px) {
//       @content;
//     }
//   }

.home-page-main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--grey-200);
}