@import "main";

.loading-container {
  position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .logo-and-spinner{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
  
      .logo {
        width: 70px;  
        height: auto;
        margin-bottom: 0;
      }
  
      .spinner {
        position: absolute;
        border: 4px solid var(--accent);
        border-left: 4px solid var(--accent-medyo-light);  
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 1s linear infinite;
      }
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  