@import "main";

//LOGIN PAGE

.logo-container {
  @include flexJc;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include mobile {
    padding: 0;
    margin-bottom: 4rem;
  }

  img {
    max-width: 6rem;

    @include mobile {
      min-width: 5rem;
      margin-top: 3rem;
    }

    @include tablet {
      min-width: 5rem;
      margin-top: 3rem;
    }
  }
}

.card-container-login {
  display: flex;
  justify-content: center;
}

.image-main-container {
  position: relative;
  min-width: 25rem;
  height: 55vh;
  margin-right: 1rem;

  @include tablet {
    display: none;
  }
}

.image-container-login-front {
  background-image: url(../assets/landing-page-photo.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 16rem;
  height: 52vh;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  filter: blur(2px);
}

.image-container-login-back {
  background-image: url(../assets/landing-page-photo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 16rem;
  height: 52vh;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  position: absolute;
  right: 0;
}

.login-container {
  background-color: var(--white);
  min-width: 16rem;
  height: 52vh;
  border-radius: 20px;
  margin-left: 4rem;
  margin-right: 1rem;
  box-shadow: $shadow-4;

  h1 {
    font-family: $headingFont;
    font-weight: 700;
    color: var(--primary-500);
    text-align: center;
    letter-spacing: -2px;
    font-stretch: ultra-condensed;
    margin-top: 2rem;
  }

  @include mobile {
    min-width: 16rem;
    margin-left: 0;
    margin-right: 0;
  }

  @include tablet {
    min-width: 18rem;
    margin-left: 0;
    margin-right: 0;
  }
}


.form-login {
  @include flexJcAc;
  flex-direction: column;
  margin-top: 2rem;

  .password-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;

    input[type="password"] {
      width: 100%;
      border-radius: $borderRadius;
      border: 1px solid var(--grey-700);
    }
  }

.input-container {
  position: relative;
  .password-toggle-button {
    background: none;
    border: none;
    position: absolute;
    right: 5px;
    top: 1.2rem;
    cursor: pointer;

    .eye-icon {
      color: var(--grey-600);
      font-size: .9rem;
    }
  }
}
}

.form-login input {
  width: max-content;
  margin-top: 1rem;
  height: 2rem;
  border: 1px solid var(--grey-700);
  border-radius: $borderRadius;
}

input::placeholder {
  color: var(--grey-600);
  font-weight: 400;
  padding: 10px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container>button {
  margin-top: 2rem;
  width: max-content;
  border: none;
  border-radius: 13px;
  padding: .5rem 3rem;
  color: var(--white);
  background-color: var(--primary-500);

}

.create-new-account {
  margin: .5rem;
  color: var(--primary-500);
  font-weight: bold;
}

input::placeholder {
  color: var(--grey-600);
  font-weight: 400;
}

.create-new-account {
  margin: .5rem;
  color: var(--primary-500);
  font-weight: 500;
}

