

.nav-bar-container {
    display: flex;
    padding-top: .5rem;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-brand > img {
    width: 6rem;
}

.nav-bar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    width: 15vw;
}

.nav-bar-left li img {
    width: 1.8rem;
    margin: 1rem;
}

.search-container {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.search-container img{
    width: 1.8rem;
}

.nav-bar-right {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 2rem;
    width: 15vw;
    margin-left: auto;
}

.nav-bar-right img {
    width: 1.8rem;
    margin: 1rem;
}