@import "main";

.news-feed-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 5rem;
    @include tablet {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.create-post {
    min-width: 50%;
    height: 15vh;
    margin-top: 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color:  var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @include tablet {
    }

    .profile-pic {
        flex: 1;
        @include flexJcAc;
        
        img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }
        @include tablet {
            margin-left: 1rem;
        }
    }

    .post-text-area-container{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 1rem;
        @include tablet {
            padding-right: 2rem;
            padding-left: 2rem;
            margin-left: 0;
        }

        .input-feed{
            border-radius: 1rem;
            width: 100%;
            resize: none;
            padding-left: 1rem;
            padding-top: 1rem;
        }

        .input-feed::placeholder{
            color: var(--grey-600);
        }
    }

    .create-post-header {
        display: none;
    }

    .logout-xmark {
        display: none; 
    }

    @include tablet {
        width: 100%;
        justify-content: center;
        height: 50vh;
        margin-top: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .upload-photo {
        .upload-button {
            display: none;
        }
    }
}

.cancel-button {
    display: none;
}

.form-container {
    width: 84%;
    @include flexJc;
    margin-right: auto;
    margin-left: auto;

    .input-feed {
        border-radius: 1rem;
        width: 50vw;
        height: 3rem;
        resize: none;
        border: .3px solid  var(--black);
        padding-left: 1rem;
        padding-top: .5rem;

        @include tablet {
            width: 60%;
            margin-right: 2rem;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.new-create-post {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color:  var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;

    .create-post-header-container{
        @include flexJc;
        width: 100%;

        .create-post-header {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    .logout-xmark {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .profile-pic {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }

        h5 {
            margin-left: 1rem;
        }
    }

    .upload-photo {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 1rem;
        background-color: var(--grey-200);
        border-radius: 2rem;
        border-bottom: 1px solid var(--grey-700);
        padding: 1rem;
        width: 100%;

        .upload-button::-webkit-file-upload-button {
            background-color: var(--primary-500);
            border: none;
            border-radius: 1rem;
            color:  var(--white);
            cursor: pointer;
            padding: .5rem 1rem;
        }
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        .input-feed {
            border-radius: 1rem;
            width: 100%;
            height: 8rem;
            resize: none;
            border: 1px solid  var(--black);

            &::placeholder {
                font-weight: 400;
            }
        }
        
        .post-button,
        .cancel-button {
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            background-color: var(--primary-500);
            color:  var(--white);

            &:hover {
                background-color: var(--primary-600);
                color:  var(--white);
            }
        }
    }
}
