@import "main";

.news-feed-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 5rem;

}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.create-post {
    width: 50vw;
    height: 15vh;
    margin-top: 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .create-post-header {
        display: none;
    }

    @include tablet {
        width: 100%;
        justify-content: center;
        height: 50vh;
        margin-top: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .upload-photo {
        .upload-button {
            display: none;
        }
    }
}

.cancel-button {
    display: none;
}

.profile-pic>img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 1rem;

    @include tablet {
        margin-right: 2rem;
    }
}

.form-container {
    width: 84%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    .input-feed {
        border-radius: 1rem;
        width: 50vw;
        height: 3rem;
        resize: none;
        border: .3px solid var(--black);

        @include tablet {
            width: 60%;
            margin-right: 2rem;
        }

        // background-color: var(--grey-300);

        &::placeholder {
            font-weight: 400;
        }
    }

    button[type="submit"] {
        display: none;
    }

}








.new-create-post {
    width: 50vw;
    height: max-content;
    position: absolute;
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--grey-500);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .create-post-header {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .upload-photo {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: var(--grey-500);

        .upload-button {
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .profile-pic {
        width: 100%;

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-left: 1rem;
            margin-top: 1rem;


            @include tablet {
                margin-right: 2rem;
            }
        }
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

        .input-feed {
            border-radius: 0;
            width: 100%;
            height: 7rem;
            resize: none;
            border: none;

            @include tablet {
                width: 60%;
                margin-right: 2rem;
            }

            // background-color: var(--grey-300);

            &::placeholder {
                font-weight: 400;
            }
        }
    }

    button[type="submit"] {
        display: block;
        width: 5rem;
        padding: 0.13rem .8rem;
        margin-top: 1rem;
        border-radius: 1rem;
        background-color: var(--primary-500);
        color: var(--white);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .cancel-button {
        display: flex;
        border-radius: .5rem;
        width: 5rem;
        height: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--accent);
        border: none;
        background-color: white;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

}