@import "main";

.profile-main-container{
    position: relative;
    margin-top: 6rem;

    @include tablet {
        width: 100%;
        flex-direction: column;
        margin-top: 8rem;
        @include flexJcAc
    }
    
}

.cover-photo {
    width: 50vw;
    height: 40vh;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;

    @include tablet {
        width: 100%;
        height: 50vh;
    }

    img {
        width: 100%;
        position: absolute;
        background-size: contain;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.profile-photo > img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
        width: 10rem;
        height: 10rem;
    }
}

.detail-container {
    width: 50vw;
    background-color: $white;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-4;

    @include tablet {
        width: 100%;
        height: 50vh;
    }
}

.user-profile-name {
    margin-top: 3rem;
}

.detail-container-intro {
    flex-direction: column;
    @include flexJcAc;

    p {
        font-size: 1rem;
        margin-top: .3rem;
    }
}

.detail-container-other-details {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;

    &-paragraph {
        margin-right: 3rem;
    }

    img {
        width: 1.3rem;
        margin-left: 3rem;
        margin-right: .5rem;
    }
}
