@import "main";
 

 .signup-login-container {
    background-color: var(--white);
    min-width: 16rem;
    height: max-content;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: var(--shadow-4);

    @include tablet {
      min-width: 16rem;
      height: 60vh;
    }

  }

  .signup-login-container > h1 {
    font-family: var(--headingFont);
    font-weight: 700;
    color: var(--primary-500);
    text-align: center;
    letter-spacing: -2px;
    margin-top: 2rem;
  }

  .form-signup {
    margin-top: 2rem;
  }

  .button-register{
    margin-top: 2rem;

    .link-button{

      button {
        margin-bottom: 1rem;
        width: 10rem;
        border: none;
        border-radius: 13px;
        color: var(--white);
        background-color: var(--primary-500);
      }

      .register-back-button{
        width: 7rem;
        font-size: .8rem;
        margin-top: 0;
      }
    }
  }

  form {
    input {
      padding-left: 10px;
    }
  }





