@import "../main.scss";

// MODAL DELETE

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  @include flexJcAc;
  z-index: 2;
}

.modal-container {
  @include flexJcAc;
  height: 100%;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: start;
  }

  p {
    margin-bottom: 1rem;
    color: $grey-800;
  }

  .cancel-button {
    @extend .add-btn;
  }
}

.delete-button {
  @extend .add-btn;
  background-color: $accent;
}



// MODAL COMMENT

.comment-modal-container {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  .modal-body {
    width: 100%;

    textarea {
      margin-top: 1rem;
      width: 80%;
      height: 3rem;
      border-radius: 1rem;
      resize: none;
      padding-left: 1rem;
      outline: none;
    }

  }

  .modal-footer {
    margin-top: 1rem;

    button {
      background-color: $primary-500;
      border: none;
      border-radius: 1rem;
      padding: .5rem 1rem;
      color: $white;
    }
  }

}

// delete comment modal

.modal-delete-comment {
  // position: absolute;
  // top: 50%;
  // right: 50%;
  // transform: translate(-50% -50%);
  background-color: $white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;

  h5 {
    padding: .5rem;

  }

  p {
    margin-bottom: 20px;
  }

  .modal-buttons {
    button {
      margin: 0 10px;
      padding: 5px 10px;

    }
  }
}


.modal-close-button {
  background-color: transparent;
  position: absolute;
  right: 1.25rem;
  top: 1.15rem;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;

}

.modal-close-button:focus {
  outline: none;
}

.logout-header {
  display: flex;
  flex: auto;
}